<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <script language="JavaScript">
<!--
var message="";
function clickIE() {if (document.all) {(message);return false;}}
function clickNS(e) {if (document.layers||(document.getElementById&&!document.all)) {
if (e.which==2||e.which==3) {(message);return false;}}}
if (document.layers) {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
document.oncontextmenu=new Function("return false")
// --> </script>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <link rel="stylesheet" type="text/css" href="minimalist.css">
  <title>Ryo Photography</title>
  <meta content="Ryo" name="author">
</head>
<div id="mainPicture">
<div class="picture"></div>
</div>
<div id="footer"><span style="font-weight: bold;">
web development</span>
by <span style="font-weight: bold;"><a
 href="http://facebook.com/RuiYou">ryo
helmenkalastaja</a> &middot;
optimized for <a href="https://www.google.com/chrome/index.html">google
chrome</a>
</span></div>
</body>
</html>
