<!DOCTYPE html>
<html>
<head>
	 <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <link rel="stylesheet" type="text/css" href="minimalist.css">
  <title>Ryo Photography</title>
  <meta content="Ryo" name="author">
</head>
<body
>	<div id='frame'>
		<div id="logo">
			<div id="page">
				<div class="topNavigationLink">Home</div>
				<div class="topNavigationLink"><a href="about">About</a></div>
				<div class="topNavigationLink"><a href="portfolio.html">Portfolio</a></div>
				<div class="topNavigationLink"><a href="services.html">Services</a></div>
				<div class="topNavigationLink"><a href="contact.html">Contact</a><br>
				</div>
			</div>
		</div>
<div id="Separator"></div>


<%= yield %>

</body>
</html>
